<%- include('header'); -%>
    
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>      
      <hr class="my-4"> 
      <ul class="list-group">
        <!-- Loop through the array that was passed through by the js server -->
        <% for(let item in items){ %>          
        <li class="list-group-item d-flex justify-content-between align-items-center">
          
          <input class="form-check-input mr-auto check" type="checkbox" > 
          <p class=""><%=items[item].content%></p>
          <form action="/<%=items[item]._id%>" method="post">
            <button class=" btn btn-danger ml-auto" name="delete" value="<%=title%>" submit><i class="fa fa-trash"></i></button>
          </form>

        </li>
        <% } %>
      </ul>
      <form action="/" method="post">
        <input type="text" name="item" class="form-control form-custom" placeholder="Add to do item" required>
        <button type="submit" name="list" value="<%=title%>" class=" form-custom btn btn-block btn-primary btn-lg" id="submit">Add Item </button>
      </form>    
    </div>
  <%- include('footer'); -%>   